<h2>Login</h2>

{{!-- <form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form> --}}

<div class="row">
    <form class="col s12 login-form">
      <div class="row">
        <div class="input-field col s12">
          <input id="email-login" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password-login" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div><a class="waves-effect waves-light btn" type="submit">Login</a>
      </div>
    </form>
</div>

<script src="/js/login.js"></script>