<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Activity:</h3>
    <div class="row">
    <form class="col s12 new-hike-form">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="hike-name" class="materialize-textarea"></textarea>
          <label for="hike-name">Hike Name</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="hike-time" class="materialize-textarea"></textarea>
          <label for="hike-time">Completion Time:</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="hike-elevation" class="materialize-textarea"></textarea>
          <label for="hike-elevation">Elevation Change</label>
        </div>
      </div>
    </form>
    <button class="waves-effect waves-light btn" type="submit" name="action">Add Activity</button>
  </div>

Prefilling 

  {{#if hikes.length}}
  <div class="col-md-6 hike-list">
    <h3>Current Hikes:</h3>

    {{#each hikes as |hike|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/hike/{{hike.id}}">{{hike.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="waves-effect waves-light btn" data-id="{{hike.id}}">Delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>